In [1]:
!pip install sqlalchemy==1.3.9
!pip install ipython-sql

Collecting sqlalchemy==1.3.9
  Using cached SQLAlchemy-1.3.9-cp311-cp311-win_amd64.whl
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.34
    Uninstalling SQLAlchemy-2.0.34:
      Successfully uninstalled SQLAlchemy-2.0.34
Successfully installed sqlalchemy-1.3.9

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.3.9 which is incompatible.

Requirement already satisfied: ipython-sql in c:\users\kkiwi\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\kkiwi\anaconda3\lib\site-packages (from ipython-sql) (3.10.0)
Requirement already satisfied: ipython in c:\users\kkiwi\anaconda3\lib\site-packages (from ipython-sql) (8.20.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Downloading SQLAlchemy-2.0.35-cp311-cp311-win_amd64.whl.metadata (9.9 kB)
Requirement already satisfied: sqlparse in c:\users\kkiwi\anaconda3\lib\site-packages (from ipython-sql) (0.5.0)
Requirement already satisfied: six in c:\users\kkiwi\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\kkiwi\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\kkiwi\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\kkiwi\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: decorator in c:\users\kkiwi\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\kkiwi\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\kkiwi\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\kkiwi\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\kkiwi\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\kkiwi\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\kkiwi\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: colorama in c:\users\kkiwi\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\kkiwi\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\kkiwi\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\kkiwi\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\kkiwi\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\kkiwi\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading SQLAlchemy-2.0.35-cp311-cp311-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
    --------------------------------------- 0.0/2.1 MB 1.4 MB/s eta 0:00:02
   - -------------------------------------- 0.1/2.1 MB 656.4 kB/s eta 0:00:04
   - -------------------------------------- 0.1/2.1 MB 657.6 kB/s eta 0:00:04
   - -------------------------------------- 0.1/2.1 MB 585.1 kB/s eta 0:00:04
   -- ------------------------------------- 0.1/2.1 MB 554.9 kB/s eta 0:00:04
   -- ------------------------------------- 0.1/2.1 MB 532.5 kB/s eta 0:00:04
   --- ------------------------------------ 0.2/2.1 MB 546.6 kB/s eta 0:00:04
   --- ------------------------------------ 0.2/2.1 MB 546.6 kB/s eta 0:00:04
   --- ------------------------------------ 0.2/2.1 MB 436.9 kB/s eta 0:00:05
   --- ------------------------------------ 0.2/2.1 MB 436.9 kB/s eta 0:00:05
   --- ------------------------------------ 0.2/2.1 MB 436.9 kB/s eta 0:00:05
   --- ------------------------------------ 0.2/2.1 MB 436.9 kB/s eta 0:00:05
   --- ------------------------------------ 0.2/2.1 MB 328.0 kB/s eta 0:00:06
   --- ------------------------------------ 0.2/2.1 MB 328.0 kB/s eta 0:00:06
   --- ------------------------------------ 0.2/2.1 MB 283.2 kB/s eta 0:00:07
   ---- ----------------------------------- 0.2/2.1 MB 299.1 kB/s eta 0:00:07
   ---- ----------------------------------- 0.2/2.1 MB 314.0 kB/s eta 0:00:06
   ----- ---------------------------------- 0.3/2.1 MB 327.9 kB/s eta 0:00:06
   ----- ---------------------------------- 0.3/2.1 MB 327.6 kB/s eta 0:00:06
   ------ --------------------------------- 0.3/2.1 MB 350.4 kB/s eta 0:00:06
   ------ --------------------------------- 0.3/2.1 MB 349.7 kB/s eta 0:00:06
   ------ --------------------------------- 0.4/2.1 MB 353.8 kB/s eta 0:00:05
   ------- -------------------------------- 0.4/2.1 MB 361.9 kB/s eta 0:00:05
   ------- -------------------------------- 0.4/2.1 MB 370.5 kB/s eta 0:00:05
   -------- ------------------------------- 0.4/2.1 MB 377.3 kB/s eta 0:00:05
   -------- ------------------------------- 0.5/2.1 MB 375.7 kB/s eta 0:00:05
   --------- ------------------------------ 0.5/2.1 MB 390.0 kB/s eta 0:00:05
   --------- ------------------------------ 0.5/2.1 MB 383.7 kB/s eta 0:00:05
   ---------- ----------------------------- 0.5/2.1 MB 385.5 kB/s eta 0:00:05
   ---------- ----------------------------- 0.5/2.1 MB 384.3 kB/s eta 0:00:05
   ---------- ----------------------------- 0.6/2.1 MB 396.1 kB/s eta 0:00:04
   ----------- ---------------------------- 0.6/2.1 MB 394.7 kB/s eta 0:00:04
   ----------- ---------------------------- 0.6/2.1 MB 398.8 kB/s eta 0:00:04
   ------------ --------------------------- 0.6/2.1 MB 403.8 kB/s eta 0:00:04
   ------------ --------------------------- 0.7/2.1 MB 407.3 kB/s eta 0:00:04
   ------------- -------------------------- 0.7/2.1 MB 412.1 kB/s eta 0:00:04
   ------------- -------------------------- 0.7/2.1 MB 414.9 kB/s eta 0:00:04
   -------------- ------------------------- 0.7/2.1 MB 419.3 kB/s eta 0:00:04
   -------------- ------------------------- 0.8/2.1 MB 418.2 kB/s eta 0:00:04
   -------------- ------------------------- 0.8/2.1 MB 416.5 kB/s eta 0:00:04
   --------------- ------------------------ 0.8/2.1 MB 424.4 kB/s eta 0:00:03
   --------------- ------------------------ 0.8/2.1 MB 422.9 kB/s eta 0:00:03
   ---------------- ----------------------- 0.8/2.1 MB 426.4 kB/s eta 0:00:03
   ---------------- ----------------------- 0.9/2.1 MB 428.6 kB/s eta 0:00:03
   ----------------- ---------------------- 0.9/2.1 MB 432.0 kB/s eta 0:00:03
   ----------------- ---------------------- 0.9/2.1 MB 433.7 kB/s eta 0:00:03
   ------------------ --------------------- 0.9/2.1 MB 432.2 kB/s eta 0:00:03
   ------------------ --------------------- 1.0/2.1 MB 438.4 kB/s eta 0:00:03
   ------------------- -------------------- 1.0/2.1 MB 436.9 kB/s eta 0:00:03
   ------------------- -------------------- 1.0/2.1 MB 438.5 kB/s eta 0:00:03
   -------------------- ------------------- 1.0/2.1 MB 441.2 kB/s eta 0:00:03
   -------------------- ------------------- 1.1/2.1 MB 441.3 kB/s eta 0:00:03
   -------------------- ------------------- 1.1/2.1 MB 437.0 kB/s eta 0:00:03
   -------------------- ------------------- 1.1/2.1 MB 437.0 kB/s eta 0:00:03
   -------------------- ------------------- 1.1/2.1 MB 428.9 kB/s eta 0:00:03
   -------------------- ------------------- 1.1/2.1 MB 428.9 kB/s eta 0:00:03
   -------------------- ------------------- 1.1/2.1 MB 428.9 kB/s eta 0:00:03
   --------------------- ------------------ 1.1/2.1 MB 410.1 kB/s eta 0:00:03
   --------------------- ------------------ 1.1/2.1 MB 410.1 kB/s eta 0:00:03
   --------------------- ------------------ 1.1/2.1 MB 405.9 kB/s eta 0:00:03
   --------------------- ------------------ 1.1/2.1 MB 405.9 kB/s eta 0:00:03
   --------------------- ------------------ 1.1/2.1 MB 395.4 kB/s eta 0:00:03
   --------------------- ------------------ 1.1/2.1 MB 395.4 kB/s eta 0:00:03
   --------------------- ------------------ 1.1/2.1 MB 395.4 kB/s eta 0:00:03
   ---------------------- ----------------- 1.2/2.1 MB 382.3 kB/s eta 0:00:03
   ---------------------- ----------------- 1.2/2.1 MB 383.1 kB/s eta 0:00:03
   ---------------------- ----------------- 1.2/2.1 MB 382.6 kB/s eta 0:00:03
   ----------------------- ---------------- 1.2/2.1 MB 388.1 kB/s eta 0:00:03
   ----------------------- ---------------- 1.2/2.1 MB 387.4 kB/s eta 0:00:03
   ------------------------ --------------- 1.3/2.1 MB 389.5 kB/s eta 0:00:03
   ------------------------ --------------- 1.3/2.1 MB 388.2 kB/s eta 0:00:03
   ------------------------- -------------- 1.3/2.1 MB 390.8 kB/s eta 0:00:02
   ------------------------- -------------- 1.3/2.1 MB 388.4 kB/s eta 0:00:02
   ------------------------- -------------- 1.4/2.1 MB 390.3 kB/s eta 0:00:02
   -------------------------- ------------- 1.4/2.1 MB 392.6 kB/s eta 0:00:02
   -------------------------- ------------- 1.4/2.1 MB 395.0 kB/s eta 0:00:02
   --------------------------- ------------ 1.4/2.1 MB 396.7 kB/s eta 0:00:02
   --------------------------- ------------ 1.4/2.1 MB 394.4 kB/s eta 0:00:02
   ---------------------------- ----------- 1.5/2.1 MB 398.8 kB/s eta 0:00:02
   ---------------------------- ----------- 1.5/2.1 MB 398.2 kB/s eta 0:00:02
   ----------------------------- ---------- 1.5/2.1 MB 399.8 kB/s eta 0:00:02
   ----------------------------- ---------- 1.5/2.1 MB 401.8 kB/s eta 0:00:02
   ------------------------------ --------- 1.6/2.1 MB 403.3 kB/s eta 0:00:02
   ------------------------------ --------- 1.6/2.1 MB 405.4 kB/s eta 0:00:02
   ------------------------------- -------- 1.6/2.1 MB 408.4 kB/s eta 0:00:02
   ------------------------------- -------- 1.6/2.1 MB 410.2 kB/s eta 0:00:02
   ------------------------------- -------- 1.7/2.1 MB 411.5 kB/s eta 0:00:02
   -------------------------------- ------- 1.7/2.1 MB 414.3 kB/s eta 0:00:01
   -------------------------------- ------- 1.7/2.1 MB 416.2 kB/s eta 0:00:01
   --------------------------------- ------ 1.8/2.1 MB 417.3 kB/s eta 0:00:01
   ---------------------------------- ----- 1.8/2.1 MB 419.9 kB/s eta 0:00:01
   ---------------------------------- ----- 1.8/2.1 MB 420.2 kB/s eta 0:00:01
   ---------------------------------- ----- 1.8/2.1 MB 420.2 kB/s eta 0:00:01
   ---------------------------------- ----- 1.8/2.1 MB 414.9 kB/s eta 0:00:01
   ----------------------------------- ---- 1.8/2.1 MB 412.2 kB/s eta 0:00:01
   ----------------------------------- ---- 1.8/2.1 MB 412.2 kB/s eta 0:00:01
   ----------------------------------- ---- 1.8/2.1 MB 412.2 kB/s eta 0:00:01
   ----------------------------------- ---- 1.8/2.1 MB 404.5 kB/s eta 0:00:01
   ----------------------------------- ---- 1.8/2.1 MB 404.5 kB/s eta 0:00:01
   ----------------------------------- ---- 1.9/2.1 MB 394.1 kB/s eta 0:00:01
   ------------------------------------ --- 1.9/2.1 MB 395.4 kB/s eta 0:00:01
   ------------------------------------ --- 1.9/2.1 MB 397.0 kB/s eta 0:00:01
   ------------------------------------ --- 1.9/2.1 MB 395.3 kB/s eta 0:00:01
   ------------------------------------- -- 2.0/2.1 MB 400.0 kB/s eta 0:00:01
   ------------------------------------- -- 2.0/2.1 MB 398.2 kB/s eta 0:00:01
   -------------------------------------- - 2.0/2.1 MB 399.8 kB/s eta 0:00:01
   ---------------------------------------  2.0/2.1 MB 402.6 kB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 403.6 kB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 402.8 kB/s eta 0:00:00
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed sqlalchemy-2.0.35

In [2]:
%load_ext sql

In [3]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [4]:
!pip install -q pandas

In [5]:
%sql sqlite:///my_data1.db

In [6]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

In [7]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
(sqlite3.OperationalError) table SPACEXTABLE already exists
[SQL: create table SPACEXTABLE as select * from SPACEXTBL where Date is not null]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [8]:
%sql SELECT * FROM SPACEXTABLE LIMIT 5;

 * sqlite:///my_data1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

In [9]:
%sql SELECT DISTINCT Landing_Outcome FROM SPACEXTBL;

 * sqlite:///my_data1.db
Done.

[('Failure (parachute)',),
 ('No attempt',),
 ('Uncontrolled (ocean)',),
 ('Controlled (ocean)',),
 ('Failure (drone ship)',),
 ('Precluded (drone ship)',),
 ('Success (ground pad)',),
 ('Success (drone ship)',),
 ('Success',),
 ('Failure',),
 ('No attempt ',)]

####  Task 1

In [10]:
%sql SELECT DISTINCT Launch_Site FROM SPACEXTBL;

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]

#### Task 2

In [11]:
%sql SELECT * FROM SPACEXTABLE WHERE Launch_Site LIKE 'CCA%' LIMIT 5;

 * sqlite:///my_data1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

#### Task 3

In [12]:
%sql SELECT SUM(PAYLOAD_MASS__KG_) AS TotalPayloadMass FROM SPACEXTBL WHERE Customer LIKE '%NASA (CRS)%';

 * sqlite:///my_data1.db
Done.

[(48213,)]

In [13]:
%sql SELECT SUM(PAYLOAD_MASS__KG_) AS TotalPayloadMass FROM SPACEXTBL WHERE Customer = 'NASA (CRS)';

 * sqlite:///my_data1.db
Done.

[(45596,)]

#### Task 4

In [14]:
%sql SELECT AVG(PAYLOAD_MASS__KG_) AS TotalPayloadMass FROM SPACEXTBL WHERE Booster_Version LIKE '%F9 v1.1%';

 * sqlite:///my_data1.db
Done.

[(2534.6666666666665,)]

#### Task 5

In [15]:
%sql SELECT Landing_Outcome, Date FROM SPACEXTBL WHERE Landing_Outcome LIKE 'Success (ground pad)' ORDER BY Date LIMIT 1

 * sqlite:///my_data1.db
Done.

[('Success (ground pad)', '2015-12-22')]

#### Task 6

In [16]:
%sql SELECT Booster_Version FROM SPACEXTBL WHERE Landing_Outcome = 'Success (drone ship)' AND PAYLOAD_MASS__KG_ > 4000 AND PAYLOAD_MASS__KG_ < 6000;

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

#### Task 7

In [17]:
%sql SELECT Mission_Outcome, COUNT(*) AS TotalCount FROM SPACEXTBL GROUP BY Mission_Outcome;

 * sqlite:///my_data1.db
Done.

[('Failure (in flight)', 1),
 ('Success', 98),
 ('Success ', 1),
 ('Success (payload status unclear)', 1)]

In [18]:
%sql SELECT DISTINCT Mission_Outcome FROM SPACEXTBL;

 * sqlite:///my_data1.db
Done.

[('Success',),
 ('Failure (in flight)',),
 ('Success (payload status unclear)',),
 ('Success ',)]

#### Task 9

In [19]:
%sql SELECT Booster_Version FROM SPACEXTBL WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTBL);

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

%sql SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTBL

#### Task 10

In [20]:
%sql SELECT CASE substr(Date, 6, 2) WHEN '01' THEN 'January' WHEN '02' THEN 'February' WHEN '03' THEN 'March' WHEN '04' THEN 'April' WHEN '05' THEN 'May' WHEN '06' THEN 'June' WHEN '07' THEN 'July' WHEN '08' THEN 'August' WHEN '09' THEN 'September' WHEN '10' THEN 'October' WHEN '11' THEN 'November' WHEN '12' THEN 'December' ELSE 'Unknown' END AS Month_Name, Booster_Version, Launch_Site FROM SPACEXTBL WHERE Landing_Outcome = 'Failure (drone ship)' AND substr(Date, 1, 4) = '2015';

 * sqlite:///my_data1.db
Done.

[('January', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('April', 'F9 v1.1 B1015', 'CCAFS LC-40')]

#### Task 11

In [21]:
%sql SELECT Landing_Outcome, COUNT(*) AS Outcome_Count FROM SPACEXTBL WHERE Date BETWEEN '2010-06-04' AND '2017-03-20' GROUP BY Landing_Outcome ORDER BY Outcome_Count DESC;

 * sqlite:///my_data1.db
Done.

[('No attempt', 10),
 ('Success (drone ship)', 5),
 ('Failure (drone ship)', 5),
 ('Success (ground pad)', 3),
 ('Controlled (ocean)', 3),
 ('Uncontrolled (ocean)', 2),
 ('Failure (parachute)', 2),
 ('Precluded (drone ship)', 1)]